
/* Materialize css sticky footer method */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
main {
   flex: 1 0 auto;
   background-color: none;
}

table{
  tbody{
    .description{
      max-width: 500px;
    }
  }
}

.colorama{
  ul{
    li{
      width: 100px;
      height: 100px;
      display: inline-block;
      color: white;
      padding: 25px 10px;
    }
  }
}

.clear-btn{
  background-color: transparent;
  border: none;
}

.breadcrumb{
  &:before{
    color: #9e9e9e;
    margin-top: -5px;
  }
}